<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Thanks for booking with Desk Nomad, <%= @user.first_name %>!</h2>
    <p>Thanks for booking on Desk Nomad. We hope you enjoy
      and will book with us in the future!
    </p><br><br>
    <p>
    Sincerely,<br>
    The Desk Nomad Team
    </p>
  </body>
</html>
