<div class="container-fluid">
  <div class="row text-center">
    <h1>All Spaces</h1>
  </div>
  <div class="row">
    <% @properties.each do |property| %>
      <div class="col-md-3 text-center">
        <%= image_tag property.image.url %><br>
        <%=  property.title %>
      </div>
    <% end %>
  </div>
</div>
