<div class="container-fluid">

  <div class="cart row">
    <div class="box">
      <div class="col-lg-12">
        <hr class="black-line">
        <h1 class="text-center">Orders</h1>
        <hr class="black-line"><br>
        <div class="row">
          <% @orders.each do |order| %>
            <div class="col-md-3">
              <div class="text-center">
                <p style="background-color:#FDFDFD"> <%= link_to "Order ##{order.id}", order_path(order) %> - 
                 Total $<%= order.total %>
               </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
